<mat-toolbar id="app-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button routerLink="/{{AppRoute.QUERY}}">
      <img alt="Profile Image" id="app-icon" src="../assets/favicon.ico">
    </button>

    <span class="title-span" routerLink="/{{AppRoute.QUERY}}">Query UI</span>

    <span class="spacer"></span>

    <button mat-raised-button routerLink="{{FRESH_PLANNER_URL}}">
      Fresh Planner
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" id="app-container">
  <mat-card fxLayout="column" fxLayoutAlign="start center">
    <router-outlet>
      <!-- projection of component.html of route from app-routing.module.ts -->
    </router-outlet>
  </mat-card>
</div>
