#app-toolbar {
  position: fixed;
  top: 0;
  height: 64px;
  z-index: 1000;

  span {
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-select {
    width: 15px;
  }

  //TODO fix positioning of dropdown.
  //.nav-panel{
  //  background-color: red;
  //}
}

#app-container {
  position: fixed;
  bottom: 0;
  height: calc(100% - 64px);
  width: 100%;
  overflow-y: auto;
  background-image: url(../assets/background.jpg);
  background-size: cover;

  mat-card {
    margin: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  @media (max-width: 400px) {
    mat-card {
      margin: 0;
      height: 100vh;
      overflow-y: auto;
      width: 100vw;
      border-radius: 0;
    }
  }
}
