<div class="root-column" fxLayout="column" fxLayoutAlign="start center">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Static Query</mat-panel-title>
        <mat-panel-description>Execute static sql files.</mat-panel-description>
      </mat-expansion-panel-header>

      <div class="expansion-panel-body" fxLayout="column" fxLayoutAlign="start center">

        <mat-form-field appearance="outline">
          <mat-label>Select File Name</mat-label>
          <input [(ngModel)]="fileAC.input"
                 [formControl]="fileAC.inputControl"
                 [matAutocomplete]="autocompleteFile"
                 matInput
                 placeholder="Pick File-Name"
                 type="text">
          <button (click)="fileAC.input = ''" *ngIf="fileAC.input" mat-icon-button
                  matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
          <mat-autocomplete #autocompleteFile="matAutocomplete">
            <mat-option *ngFor="let option of fileAC.filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field *ngIf="staticCustomDbEnabled" appearance="outline">
          <mat-label>DB URL</mat-label>
          <input [(ngModel)]="staticRequestData.dbUrl" matInput>
          <button (click)="staticRequestData.dbUrl = ''" *ngIf="staticRequestData.dbUrl" mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field *ngIf="staticCustomDbEnabled" appearance="outline">
          <mat-label>DB Username</mat-label>
          <input [(ngModel)]="staticRequestData.username" matInput>
          <button (click)="staticRequestData.username = ''" *ngIf="staticRequestData.username" mat-icon-button
                  matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field *ngIf="staticCustomDbEnabled" appearance="outline">
          <mat-label>DB Password</mat-label>
          <input [(ngModel)]="staticRequestData.password" matInput type="password">
          <button (click)="staticRequestData.password = ''" *ngIf="staticRequestData.password" mat-icon-button
                  matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <div class="expansion-panel-actions" fxLayout="row wrap" fxLayoutAlign="start center">
          <button (click)="chooseStaticDefaultDB()" *ngIf="staticCustomDbEnabled" color="accent" mat-raised-button>
            Default DB
          </button>
          <button (click)="chooseStaticCustomDB()" *ngIf="!staticCustomDbEnabled" color="accent" mat-raised-button>
            Custom DB
          </button>
          <button (click)="submitStaticQuery()" [disabled]="!staticRequestData.fileName" color="primary"
                  mat-raised-button>
            Submit Request
          </button>
        </div>
      </div>
    </mat-expansion-panel>


    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Dynamic Query</mat-panel-title>
        <mat-panel-description>Execute dynamic SELECT queries.</mat-panel-description>
      </mat-expansion-panel-header>

      <div class="expansion-panel-body" fxLayout="column" fxLayoutAlign="start center">

        <mat-form-field appearance="outline">
          <mat-label>SELECT Statement</mat-label>
          <textarea [(ngModel)]="dynamicRequestData.statement" matInput></textarea>
        </mat-form-field>

        <mat-form-field *ngIf="dynamicCustomDbEnabled" appearance="outline">
          <mat-label>DB URL</mat-label>
          <input [(ngModel)]="dynamicRequestData.dbUrl" matInput>
          <button (click)="dynamicRequestData.dbUrl = ''" *ngIf="dynamicRequestData.dbUrl" mat-icon-button matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field *ngIf="dynamicCustomDbEnabled" appearance="outline">
          <mat-label>DB Username</mat-label>
          <input [(ngModel)]="dynamicRequestData.username" matInput>
          <button (click)="dynamicRequestData.username = ''" *ngIf="dynamicRequestData.username" mat-icon-button
                  matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field *ngIf="dynamicCustomDbEnabled" appearance="outline">
          <mat-label>DB Password</mat-label>
          <input [(ngModel)]="dynamicRequestData.password" matInput type="password">
          <button (click)="dynamicRequestData.password = ''" *ngIf="dynamicRequestData.password" mat-icon-button
                  matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <div class="expansion-panel-actions" fxLayout="row wrap" fxLayoutAlign="start center">
          <button (click)="chooseDynamicDefaultDB()" *ngIf="dynamicCustomDbEnabled" color="accent" mat-raised-button>
            Default DB
          </button>
          <button (click)="chooseDynamicCustomDB()" *ngIf="!dynamicCustomDbEnabled" color="accent" mat-raised-button>
            Custom DB
          </button>
          <button (click)="submitDynamicQuery()" [disabled]="!dynamicRequestData.statement" mat-raised-button
                  color="primary">
            Submit Request
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div [style.opacity]="queryResponseData && queryResponseData.instanceCount > 0 ? '100%' : 0"
       class="mat-elevation-z8 statement-table">
    <table [dataSource]="tableData.dataSource" mat-table matSort>

      <ng-container *ngFor="let column of tableData.columnsDef | keyvalue" matColumnDef="{{column.value}}">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{column.value}}
        </th>
        <td *matCellDef="let row" mat-cell>
          {{row[column.key]}}
        </td>
      </ng-container>

      <tr *matHeaderRowDef="tableData.displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: tableData.displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="tableData.pageSizeOptions" [pageSize]="tableData.defaultPageSize"></mat-paginator>
  </div>

  <mat-card *ngIf="queryResponseData && queryResponseData.errorCount > 0">
    <mat-list *ngIf="queryResponseData?.errorCount">
      <h2 mat-card-title>Errors at {{queryResponseData?.errorCount}}/{{queryResponseData?.instanceCount}}
        instances.</h2>
      <mat-list-item *ngFor="let errorMessage of queryResponseData?.errorMessages">
        <mat-icon mat-list-icon>error_outline</mat-icon>
        <div mat-line>{{errorMessage}}</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
